<template>
  <HeaderBase />
  <RouterView />
  <FooterBase />
</template>

<script>
import HeaderBase from '@/components/HeaderBase.vue';
import FooterBase from '@/components/FooterBase.vue';
export default {
  components: {
    HeaderBase,
    FooterBase
  }
}
</script>

<style scoped></style>

